{% extends ':Layout:layout.html.twig' %}
{% block body %}
    <section id="inner-banner">
        <div class="container">
            <h1>JobSeekers</h1>
        </div>
    </section>


    <div id="main">

        <section class="resume-process padd-tb">
            <div class="container">
                <h2>Post your Resume &amp; Apply Online for Jobs in all over the World</h2>
                <strong>Create your professional resume with online resume builder and start applying for best jobs in all over the World</strong>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="option-box">
                            <div class="icon-box icon-colo-1"><i class="fa fa-files-o"></i></div>
                            <h4>Create Your Resume</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="option-box">
                            <div class="icon-box icon-colo-2"><i class="fa fa-bell"></i></div>
                            <h4>Get Daily Job Alerts</h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="option-box">
                            <div class="icon-box icon-colo-3"><i class="fa fa-paper-plane-o"></i></div>
                            <h4>Apply for Your Jobs</h4>
                            <p>Duis autem vel eum iriure dolor in hendre in vulputate velit esse molestie.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="option-box">
                            <div class="icon-box icon-colo-4"><i class="fa fa-check-square-o"></i></div>
                            <h4>Get Hired</h4>
                            <p>Dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="account-option">
            <div class="container">
                <div class="inner-box">
                    <div class="text-box">
                        <h4>Have an Account?</h4>
                        <p>If you don’t have an account you can create one below by entering your email address.
                            A password will be automatically emailed to you. </p>
                    </div>
                    <a href="#" class="btn-style-1"><i class="fa fa-sign-in"></i>Sign in Now</a> </div>
            </div>
        </section>


        <section class="resum-form padd-tb">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Your Name *</label>
                            <input type="text" placeholder="Your full name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Your Email *</label>
                            <input type="text" placeholder="you@jobsalerts.com">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Professional Title *</label>
                            <input type="text" placeholder="e.g. “App Developer”">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Location *</label>
                            <input type="text" placeholder="e.g. New York, Australia, London”">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Your Video</label>
                            <input type="text" placeholder="any video link about yourself">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Resume Category *</label>
                            <input type="text" placeholder="e.g. New York, Australia, London">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Minimum rate/h ($)</label>
                            <input type="text" placeholder="e.g. $20">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Upload Your Photo</label>
                            <div class="upload-box">
                                <div class="hold"><a href="#">Maximum file size 10 MB</a> <span class="btn-file"> Browse File
<input type="file">
</span> </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Add Your Skills</label>
                            <input type="text" placeholder="Comma separate a list of relevant skills">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Resume File</label>
                            <div class="upload-box">
                                <div class="hold"><a href="#">Maximum file size 20 MB</a> <span class="btn-file"> Browse File
<input type="file">
</span> </div>
                            </div>
                        </div>
                        <div class="accordion-style-1">
                            <div class="col-md-4 col-sm-4">
                                <h4>Add URL(s)</h4>
                                <div class="cp_aaccordion-row">
                                    <div class="accordion_cp" id="section9"><span><i class="fa fa-minus"></i></span>Add URL </div>
                                    <div class="contain_cp_accor">
                                        <div class="content_cp_accor">
                                            <ul>
                                                <li>
                                                    <label>Name</label>
                                                    <input type="text" placeholder="Name">
                                                </li>
                                                <li>
                                                    <label>URL</label>
                                                    <input type="text" placeholder="URL">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <h4>Add Education</h4>
                                <div class="cp_aaccordion-row">
                                    <div class="accordion_cp" id="section10"><span><i class="fa fa-chevron-right"></i></span>Add Education </div>
                                    <div class="contain_cp_accor">
                                        <div class="content_cp_accor">
                                            <ul>
                                                <li>
                                                    <label>School Name</label>
                                                    <input type="text" placeholder="School Name">
                                                </li>
                                                <li>
                                                    <label>Qualification(s)</label>
                                                    <input type="text" placeholder="Certificates / Degree">
                                                </li>
                                                <li>
                                                    <label>Start / End Date</label>
                                                    <input type="text" placeholder="Start Date and End Date">
                                                </li>
                                                <li>
                                                    <label>Description (optional)</label>
                                                    <textarea cols="10" rows="10" placeholder="Description"></textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <h4>Experience</h4>
                                <div class="cp_aaccordion-row">
                                    <div class="accordion_cp" id="section11"><span><i class="fa fa-chevron-right"></i></span>Add Experience </div>
                                    <div class="contain_cp_accor">
                                        <div class="content_cp_accor">
                                            <ul>
                                                <li>
                                                    <label>Employer</label>
                                                    <input type="text" placeholder="Company Name">
                                                </li>
                                                <li>
                                                    <label>Job Title</label>
                                                    <input type="text" placeholder="Your Designation">
                                                </li>
                                                <li>
                                                    <label>Start / End Date</label>
                                                    <input type="text" placeholder="Start Date and End Date">
                                                </li>
                                                <li>
                                                    <label>Description (optional)</label>
                                                    <textarea cols="10" rows="10" placeholder="Description"></textarea>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-col">
                                <input type="submit" value="Preview Your Resume">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
{% endblock %}
